$white: #f0f1eb;
$blue: #1428ff;
$black: #242422;
$gray: #d8d9d4;
$defColor: #030303;
$boldValue: 700;
$stamina: #a7da75;
$visual: #f3b43e;
$dance: #62b9f9;
$vocal: #eb599c;
$sp: #eb84f8;
$appeal: #63d8fb;
$passive: #63d8fb;
$yell: #f5ff6f;
